<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medico</title>
</head>
<body>
    <h1>Detalle de Medico</h1>
    <ul>
        <li>
            Nombre: {{med.nombre }} <br>
            Apellido: {{med.apellidos}}<br>
            especialidad: {{med.especialidad}}<br>
            tipo de identificacion: {{med.tipo_identificacion}}<br>
            numero de identificacion: {{med.numero_identificacion}}<br>
            registro de medico: {{ med.registro_medico }}
        </li>
    </ul>
</body>
</html>