<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paciente</title>
</head>
<body>
    <h1>Detalles Paciente</h1>
    <ul>
        <li>
            Nombre Paciente :{{ paci.nombre }}<br> 
            Apellido Paciente :{{ paci.apellidos }} <br>
            Tipo de identificacion: {{ paci.tipo_identificacion }} <br>
            Numero de Identificacion :{{ paci.numero_identificacion }}<br>
            Altura del Paciente : {{ paci.altura }}<br> 
            Tipo de Sangre del paciente :{{ paci.tipo_sangre }}<br>
        </li>
    </ul>
</body>
</html>
