<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>formulario_pac</title>
</head>
<body>
    <h1>Nuevo Paciente</h1>
    <form method="post" action="">
        <p>Nombre:  <input type="text" Name="nombre"  /> </p>
        <p>Apellidos:  <input type="text" Name="apellidos"  /> </p>
        <p>Tipo De Documento:  <select name="CC" id="">
            <option>CC</option>
            <option>TI</option>
            </select>
        </p>
        <p>N° Documento:  <input type="text" Name="nd"  /> </p>
        <p>Estatura En CM:  <input type="text" Name="est"  /> </p>
        <p>Tipo De Sangre <input type="text" Name="ts"  /> </p>
        <button type="submit">Guardar</button>


    </form>
</body>
</html>